.app {
    margin: 40px;
}

.slider-wrap {
    float: left;
    width: 40px;
    height: 400px;
}

.slider-date {
    text-align: center;
    width: 100%;
    font-size: 13px;
}

.slider-value {
    text-align: center;
    width: 100%;
}

.rc-slider {
    margin: 0 auto;
}
